footer {
    border-top: 1px solid white;
    padding: 20px;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    color: white;
    .footerRightSideContainer {
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 5px;
        span {
            font-size: 18px;
        }
        .extraInfoTitle {
            font-size: 24px;
            font-weight: bold;
        }
    }
    .foterLeftSideContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        a {
            color: white;
        }
        .logoFooter {
            color: white;
            margin-bottom: -5px;
            font-size: 40px;
            font-family: 'Staatliches';
        }
        .containerSocialMedia {
            display: flex;
            justify-content: space-between;
            width: 200px;
            svg {
                cursor: pointer;
            }
            .logoFacebook {
                transition: .5s;
                &:hover {
                    color: #4267B2;
                }
            }
            .logoYoutube {
                transition: .5s;
                &:hover {
                    color: #FF0000;
                }
            }
            .logoTwitter {
                transition: .5s;
                &:hover {
                    color: #1DA1F2;
                }
            }
            .logoInstagram {
                transition: .5s;
                &:hover {
                    color: rgb(255, 208, 80);
                }
            }
        }
        .copyrightCreditsContainer {
            display: flex;
            flex-direction: column;
            .creditsContainer {
                display: flex;
                align-items: center;
                .gitHubIcon {
                    color: white;
                    margin-left: 5px;
                    font-size: 26px;
                    transition: .5s;
                    &:hover {
                        color: #6e5494;
                    }
                }
            }    
        }
    }
}

// RESPONSIVE DESIGN

@media only screen and (max-width: 800px) {
    footer {
        gap: 20px;
        flex-direction: column;
        .footerRightSideContainer {
            text-align: left;
        }    
        .copyrightCreditsContainer {
            gap: 5px;
            .creditsContainer {
                width: 250px;
                margin-bottom: 10px;
                .gitHubIcon {
                    position: absolute;
                    left: 100px;
                    margin-left: 0;
                    font-size: 20px;
                }
            }        
        }
    }
}