footer {
    padding: 20px;
    background-color: rgb(49, 0, 0);
    display: flex;
    justify-content: space-between;
    color: white;
    .footerRightSideContainer {
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: 5px;
        span {
            font-size: 18px;
        }
        .extraInfoTitle {
            font-size: 24px;
            font-weight: bold;
        }
    }
    .foterLeftSideContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .logoFooter {
            margin-bottom: -5px;
            font-size: 40px;
            font-family: 'Staatliches';
        }
        .containerSocialMedia {
            display: flex;
            justify-content: space-between;
            width: 200px;
            svg {
                cursor: pointer;
            }
            .logoFacebook {
                &:hover {
                    color: #4267B2;
                }
            }
            .logoYoutube {
                &:hover {
                    color: #FF0000;
                }
            }
            .logoTwitter {
                &:hover {
                    color: #1DA1F2;
                }
            }
            .logoInstagram {
                &:hover {
                    color: rgb(255, 208, 80);
                }
            }
        }
        .copyrightCreditsContainer {
            display: flex;
            flex-direction: column;
        }
    }
}