video {
    background-color: black;
    position: absolute;
    min-width: 100vw;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 2;
}
.exitMovie {
    position: absolute;
    z-index: 3;
    left: 2vh;
    top: 2vh;
    color: white;
}