
.mediaListSliderContainer {
    margin: 10px 20px;
    .mediaListSlider {
        display: flex;
        flex-direction: row;
    }
    .mediaItem {
        img {
            cursor: pointer;
            width: 10.5vw;
        }
    }
    .slider {
        cursor: grab;
    }
    h3 {
        font-size: 30px;
    }
}    

.mediaList {
    display: flex;
    flex-wrap:wrap;
    width: 96.3vw;
    margin: 0 auto;
    gap: .3vw;
    .item {
        width: 13.5vw;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.modalCloseButton {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 20px;
    color: white;
    cursor: pointer;
    &:hover {
        color: #612f2f;
    }
}
.modalCoverImage {
    width: 100%;
}
.modalPlayButton {
    background-color: transparent;
    border: none;
    color: #141414;
    cursor: pointer;
    position: absolute;
    left: 43%;
}
.playArrow {
    font-size:30px !important;
}