.mediaListSliderContainer {
    .mediaListSlider {
        display: flex;
        flex-direction: row;
    }
    .mediaItem {
        img {
            cursor: pointer;
            width: 17.5vw;
        }
    }
    h3 {
        font-size: 1.8vw;
        margin:1vw 2vw;
    }
    .slider {
        margin-bottom: 2vw;
    }
}

.mediaList {
    display: flex;
    flex-wrap:wrap;
    width: 95vw;
    margin: 0 auto 1vw auto;
    gap: .75vw;
    .item {
        width: 18.4vw;
        img {
            cursor: pointer;
            width: 100%;
        }
    }
}

.modalCloseButton {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 20px;
    color: white;
    cursor: pointer;
    &:hover {
        color: #612f2f;
    }
}
.modalCoverImage {
    width: 100%;
}
.modalPlayButton {
    background-color: transparent;
    border: none;
    color: #141414;
    cursor: pointer;
    position: absolute;
}
.playArrow {
    font-size:30px !important;
}


// RESPONSIVE DESIGN
@media only screen and (max-width: 1920px) {
    .mediaListSliderContainer {
        h3 {
            font-size: 32px;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .mediaListSliderContainer {
        h3 {
            font-size: 28px;
        }
        .mediaItem {
            img {
                width: 20vw !important;
            }
        }
    }
    .mediaList {
        .item {
            width: 23.18vw;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .mediaListSliderContainer {
        h3 {
            font-size: 24px;
        }
        .mediaItem {
            img {
                width: 24vw !important;
            }
        }
    }
    .mediaList {
        gap: 1vw;
        .item {
            width: 23vw;
        }
    }
}

@media only screen and (max-width: 800px) {
    .mediaListSliderContainer {
        h3 {
            font-size: 20px;
        }
        .mediaItem {
            img {
                width: 28vw !important;
            }
        }
    }
    .mediaList {
        gap: 1.5vw;
        .item {
            width: 30.66vw;
        }
    }
}

@media only screen and (max-width: 500px) {
    .mediaListSliderContainer {
        h3 {
            font-size: 16px;
        }
        .mediaItem {
            img {
                width: 34vw !important;
            }
        }
    }
    .mediaList {
        .item {
            width: 46.75vw;
        }
    }
}