.mediaListSliderContainer {
    margin: 10px 20px;
    .mediaListSlider {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .mediaList {
        display: flex;
        flex-wrap: wrap;
    }
    .mediaItem {
        cursor: pointer;
        margin: 15px 0;
        img {
            max-width: 225px;
            width: 100%;
            pointer-events: none;
        }
    }
    .slider {
        cursor: grab;
    }
    h3 {
        font-size: 30px;
    }
}