.navBarHome {
    z-index: 2;
    transition: .5s;
    height: 70px;
    align-items: center;                
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    top: 0;    
    position: -webkit-sticky;
    position: sticky;
    background-color: #141414;
    color: white !important;
    border-bottom: 1px solid white;
    a {
        color: white !important;
    }
    .inputSearch{
        border: 1px solid white;
        border-radius: 10px; 
        font-family: 'Chakra Petch', sans-serif;
    }
    .linksNavContainer {
        display: flex;
        gap: 40px;
        margin-left: 20px;
        .logoNav {
            font-size: 40px;
            font-family: 'Staatliches';
        }
        div {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
    .userIcon {
        font-size: 38px;
        padding: 5px;
        border-radius: 50%;
        border: 1px solid white;
        cursor: pointer;
        transition: .5s;
        &:hover {
            color: #141414;
            border-color: #141414;
            background-color: white;
        }
    }
    .searchIcon {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid white;
        border-radius: 50%;
        font-size: 38px !important;
        transition: .5s;
        &:hover {
            color: #141414;
            border-color: #141414;
            background-color: white;
        }
    }
    .MuiToolbar-root {
        padding-left: 0;
    }
    .searchContainer {
        gap: 20px;       
    }
    .MuiSelect-indicator {
        display: none;
    }
    .MuiSelect-button {
        width: 40px;
    }
    .iconLink {
        display: none;
    }
    }
    .moreOptionsButton {
        display: none;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;    
    }
    .moreOptionsIcon {
        margin-right: 5px;
        font-size: 20px !important;
    }

// RESPONSIVE DESIGN

@media only screen and (max-width: 600px) {
    .navBarHome {
        gap: 0;
        .linksNavContainer {
            gap: 30px;
            div {
                gap: 0;
            }
        }
        .typeSelect {
            display: block !important;
            margin-left: -20px;
        }
        .iconLink {
            display: block;
            margin-top: 5px;
            margin-right: 20px;
        }
        .textLink {
            display: none;
        }
        .moreOptionsButton {
            display: block;
        }
    }
}