.navBar {
    height: 70px;
    align-items: center;                
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;    z-index: 1;
    width: 100%;
    .darkNavBar {
        background-color: #141414;
    }
    a {
        transition: .5s;
        &:hover {
            color: black;
            transition: .5s;
        }
    }
    .linksNavContainer {
        display: flex;
        gap: 40px;
        margin-left: 20px;
        .logoNav {
            font-size: 40px;
            font-family: 'Staatliches';
        }
        div {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
    .userIcon {
        font-size: 38px;
        padding: 5px;
        border-radius: 50%;
        border: 1px solid black;
    }
    .searchContainer {
        gap: 20px;       
    }
    .inputSearch {
        border: 1px solid black;
        border-radius: 10px; 
        font-family: 'Chakra Petch', sans-serif;
    }
}