.homeCoverImageContainer {
    position: absolute;
    z-index: -1;
    top: 0;
    min-width: 100%;
    img {
        width: 100%;
        }
}
.sliderContainer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    button {
        background-color: white;    
        border: none;
        height: 300px;
        width: 60px;
        cursor: pointer;
        margin: 15px 10px 0 0;
        transition: .5s;
        &:hover {
            transition: .5s;
            background-color: #612f2f;
        }
    }
    .nextButton {
        right: 0;
        margin-left: 10px;
    }
    .prevButton {
        left: 0;
    }
}