.myListContainer {
    h3 {
        font-size: 2vw;
        margin: 1vw auto;
        width:95vw;
    }
    .myList {
        span {
            display: flex;
            align-items: center;
            min-height: 30vw;
            margin: auto;
            font-size: 3vw;
        }
    }
}

@media only screen and (max-width: 1920px) {
    .myListContainer {
        h3 {
            font-size: 32px;
        }
        .myList {
            span {
                font-size: 50px;
            }
        }
    }
}
@media only screen and (max-width: 1440px) {
    .myListContainer {
        h3 {
            font-size: 28px;
        }
        .myList {
            span {
                font-size: 40px;
            }
        }
    }
}
@media only screen and (max-width: 1100px) {
    .myListContainer {
        h3 {
            font-size: 24px;
        }
        .myList {
            span {
                font-size: 30px;
            }
        }
    }
}
@media only screen and (max-width: 1100px) {
    .myListContainer {
        .myList {
            span {
                font-size: 24px;
            }
        }
    }
}